.foods {
  display: flex;
  flex-direction: column;
}
.foods h2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.food-list-display {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 20px;
  /* transition: 1s; */
  animation: fadeIn 1s;
}
.food {
  width: 100%;
  margin: auto;
  border-radius: var(--border-radius-full);
  /* box-shadow: 1px 1px 2px 2px #00000050; */
  box-shadow: var(--box-shadow);
  /* transition: 0.1s; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*.food:hover {
  border: 2px solid tomato;
}*/
.food .food-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.food-description h3,
.food-description h4 {
  padding: 0 10px;
  color: var(--heading-color);
}
